.app-container {
  font-family: Arial, sans-serif;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 40px;
  padding: 20px;
  border-radius: 20px;
  background-color: #f4f4f4;
}

.create-post-form {
  margin-bottom: 20px;
}

.post-list {
  margin-top: 20px;
  height: 500px;
  width: 80%;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scrollable-container::-webkit-scrollbar {
  width: 10px;
}

.scrollable-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}